camel-rest-to-mongo/src/main/resources/xsd/ac.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://my.btol.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ContentCafe">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="RequestItems">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="RequestItem">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Key">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:long">
                            <xs:attribute type="xs:string" name="Type"/>
                            <xs:attribute type="xs:long" name="Original"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="Content"/>
                    <xs:element name="ac">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="a1"/>
                          <xs:element type="xs:string" name="b1"/>
                          <xs:element type="xs:string" name="e1"/>
                          <xs:element type="xs:string" name="f1"/>
                          <xs:element type="xs:string" name="i1"/>
                          <xs:element type="xs:string" name="d1"/>
                          <xs:element type="xs:string" name="dh1"/>
                          <xs:element type="xs:string" name="j1"/>                          
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="UserID"/>
            <xs:attribute type="xs:string" name="Password"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:dateTime" name="DateTime"/>
    </xs:complexType>
  </xs:element>
</xs:schema>